*{

	margin:0;
	padding: 0;

}

html,body,header  {
				height: 100%;

}

header {



	background: url(b0.jpg) no-repeat center center ;
		background-size: cover;
}



.main-nav
{
float: right;
list-style: none;
margin-top: 30px;

}



/* Alligning the tabs in a horizontal line */

.main-nav li {

	display:inline-block;
}

/*Setting clolor size and  font size of 
the tabs */

.main-nav li a 
{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 500;
	//-webkit-text-stroke: 1px cyan;

}

.mian-nav.active a
{
	border: 1px solid white;
}

.main-nav li a:hover
{
	border: 1px solid white;
}

body{
		
		display:flex;
		flex-direction: column;
		justify-content: center

}



.container{

	width: 600px;
	margin: 0 auto;
	text-align:center;
	//vertical-align:  center;


}





h1{
	color: #FFFFFF;
	font: 980 70px 'PT Serif', serif;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	margin-bottom: 24px;

}

.btn{

		background: linear-gradient(45deg, rgba(400,133,150,0.65) 0%, rgba(255,94,185,0.65) 51%, rgba(230,39,125,0.65) 100%);
		border-radius: 4px;
		padding:20px 48px;
		color: #FFFFFF;
		font: 20px 'Neuton', serif;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.3);
		-webkit-transition:box-shadow is ease;
		transition: box-shadow 1s ease;
}
.btn:hover{
	box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
	-webkit-transition:box-shadow 1s ease;
}